@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body{
    background-color:hsl(204, 43%, 93%) ;
    font-size:16px;
    font-family: 'Karla', sans-serif; 
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
    width:80vh; 
    
}
.join{
    background-color: white;
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 1.8rem;
     
}
.sub{
    background-color: hsl(179, 62%, 43%);
    padding: 30px;
    width: 40vh;
    border-bottom-left-radius: 10px;
}
.why{
    background-color:rgb(75, 190, 188);
    padding: 30px;
    width: 40vh;
    
    border-bottom-right-radius:10px ;
    
}
.subwhy{
    display: flex;
    width: 80vh;
    max-width: 100%;
    
}
.join h2 {
  color:  hsl(71, 73%, 54%);
  font-weight: 400;
}
.join h1{
   color: hsl(179, 62%, 43%);
}
.join p{
    color:hsl(218,22%,67%);
}
.sub h3, p{
    color:white;
    font-weight: 400;
}
.why h3{
    color: white;
    font-weight: 400;

}
.why ul
{color:lightgray;
list-style-type: none;
line-height: 1,5rem;
}
.sub .btn{
    background-color: hsl(71, 73%, 54%);
    color:white;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 16px;
    
    border-radius: 1rem;
    width: 100%;
    display: inline;
    
}
.sub p span{
    font-size: 30px;
    font-weight:bold;
}
.btn:hover{
    background-color:hsl(113, 94%, 52%);
}

@media screen and (max-width: 640px) {
    
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:40vh;
    }

    .subwhy {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width:40vh;
      }
    .join{
        width: 40vh;

    }
    .why{
        border-bottom-left-radius: 10px;
    }
    .sub{
        border-radius: 0px;
    }
    }